//COLORS
//Main
$blue : #034AA6;
$green : #017369;
$black : #0D0D0D;
$lightBlack: #2D3E40;
$veryLight: #FFFFFF;
//Accents
$orange : #F2937D;
$blueWater : #CDE8F1;
$white : #E6F1F0;
//Grays
$gray : #909C9D;
$lightGray: #BAC1C1;
$softWhite : #EFEFEF;
$cyanBlue : #E6EDF6;
$ghostWhite : #F8F9FD;

//FONT SIZES
$font-sm: 0.875rem;  //14px
$font-med: 1.125rem; //18px