.truck2 {
    @include breakpoint-up(large){
        padding-left: 140px;
        padding-right: 140px;
        padding-top: 0;
        background-color: $white;
        margin-top: 60px;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        @include breakpoint-up(large){
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }
    }

    &__video {
             flex: 2;
             order: 2;
             text-align: center;
             img {
                width: 100%;
                @include breakpoint-up(large){
                    width: 80%;
                }
             }
    }
    &__text{

        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        @include breakpoint-up(medium){
            text-align: left;
        }
        @include breakpoint-up(large){
            flex: 2;
            order: 1;
        }

        h2 {
            margin-top: 0;
            width: 350px;
        }
    }
    &__check {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        p {
            font-size: 14px;
            margin: 0 0 10px 0;
        }
    }
    i{
        color: $green;
        margin-right: 10px;
    }
}