html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  color: #2D3E40;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

p {
  color: #2D3E40;
  font-size: 1rem;
  font-weight: 400;
}

h1, h3 {
  margin-top: 0;
}

h2 {
  color: #0D0D0D;
  position: relative;
  margin-bottom: 50px;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2,125rem;
  }
}

h2::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #034AA6;
  position: absolute;
  z-index: 1;
  top: 130%;
}

h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #F2937D;
  position: absolute;
  top: 133%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  background: #034AA6;
  padding: 1rem;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 600;
}

@media (min-width: 40em) {
  button, .button {
    padding: 1rem 1.875rem;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.mar-dow {
  margin-bottom: 120px;
}

.mar-top {
  margin-top: 60px;
}

.header nav {
  padding: 26px;
}

@media (min-width: 64em) {
  .header nav {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.header__logo {
  font-size: 1.625rem;
  font-weight: 600;
  color: #0D0D0D;
}

.header__logo > span {
  color: #034AA6;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #0D0D0D;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 3px;
}

.header__links a {
  font-size: 0.875rem;
  font-weight: 600;
  color: #0D0D0D;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 40px;
}

.header__links a:hover {
  color: #034AA6;
}

.header__links a:active {
  color: #034AA6;
}

.header__search img {
  margin-right: 40px;
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(61, 155, 124, 0.1))), url(/images/hero.png);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(61, 155, 124, 0.1)), url(/images/hero.png);
  background-size: cover;
  background-position: center;
  height: 650.4px;
  margin-bottom: 60px;
}

@media (min-width: 64em) {
  .hero {
    margin-bottom: 120px;
  }
}

.hero__text {
  text-align: center;
  padding-top: 25%;
}

@media (min-width: 64em) {
  .hero__text {
    max-width: 932px;
    text-align: left;
    padding-left: 140px;
    padding-top: 10%;
  }
}

.hero h1 {
  font-weight: 500;
  font-size: 2.31rem;
  line-height: 1.15;
  color: #E6F1F0;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .hero h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.4rem;
  }
}

.hero p {
  color: #FFFFFF;
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

@media (min-width: 64em) {
  .hero p {
    max-width: 600px;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 64em) {
  .about {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 64em) {
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
}

.about__image {
  text-align: center;
}

.about__image img {
  margin-top: 20px;
  width: 100%;
}

.about__text {
  text-align: center;
}

@media (min-width: 64em) {
  .about__text {
    text-align: left;
    margin-left: 40px;
  }
}

.about__text h2::after {
  left: calc(50% - 20px);
}

@media (min-width: 64em) {
  .about__text h2::after {
    left: 0;
  }
}

.about__text h2::before {
  left: calc(50% - 20px);
}

@media (min-width: 64em) {
  .about__text h2::before {
    left: 0;
  }
}

.about__ctn {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .about__ctn {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.about__ctn button {
  padding: 1rem;
}

@media (min-width: 40em) {
  .about__ctn button {
    padding: 1rem 1.875rem;
  }
}

.about__ctn a {
  color: #F2937D;
  font-size: 0,875rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__ctn a img {
  width: 0,875rem;
  height: 0,875rem;
  background: #E6EDF6;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

.about__cta {
  background: #017369;
}

@media (min-width: 40em) {
  .about__cta {
    margin-right: 30px;
  }
}

.services {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 64em) {
  .services {
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

.services h2 {
  margin: 0;
  text-align: center;
}

@media (min-width: 40em) {
  .services h2 {
    text-align: left;
  }
}

.services h2::after {
  left: calc(50% - 20px);
}

@media (min-width: 40em) {
  .services h2::after {
    left: 0;
  }
}

.services h2::before {
  left: calc(50% - 20px);
}

@media (min-width: 40em) {
  .services h2::before {
    left: 0;
  }
}

.services p {
  max-width: 640px;
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 40em) {
  .services p {
    text-align: left;
    margin-top: 40px;
  }
}

.services__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 64em) {
  .services__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
}

.services__item {
  background-color: #F8F9FD;
  padding: 35px 30px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .services__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.services__text {
  text-align: center;
}

@media (min-width: 40em) {
  .services__text {
    text-align: left;
  }
}

.services__text a {
  color: #034AA6;
  font-size: 14px;
  font-weight: 600;
}

.facts {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(50%, #FFFFFF), color-stop(50%, #E6F1F0), to(#E6F1F0));
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #E6F1F0 50%, #E6F1F0 100%);
  height: 80vh;
}

@media (min-width: 64em) {
  .facts {
    padding: 0 140px;
  }
}

.facts__container {
  background-image: url(/images/Funfacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.facts h2 {
  text-align: center;
  color: #FFFFFF;
}

.facts h2::after {
  left: calc(50% - 20px);
  background-color: #FFFFFF;
}

.facts h2::before {
  left: calc(50% - 20px);
}

.facts__grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 64em) {
  .facts__grid1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
}

.facts__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facts__item {
  text-align: center;
  color: #FFFFFF;
  margin: 20px;
}

.facts__item img {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 50px;
  padding: 5px;
}

.facts__item h3 {
  margin: 5px 0;
}

.facts__item p {
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
  font-weight: 300;
}

.offers {
  background: #E6F1F0;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 64em) {
  .offers {
    padding: 120px 140px;
  }
}

.offers__grid {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .offers__grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 120px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

.offers__item img {
  width: 120px;
}

.offers p {
  max-width: 640px;
}

.offers__grid2 {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 40em) {
  .offers__grid2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 64em) {
  .offers__grid2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.offers__grid2 h4 {
  margin: 0;
  color: #034AA6;
}

.offers__grid2 .number {
  font-size: 25px;
  color: #034AA6;
  font-weight: 600;
  margin: 0;
}

.offers__grid2 .para {
  font-size: 14px;
}

@media (min-width: 64em) {
  .solutions {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 0;
    background-color: #F8F9FD;
    margin-top: 80px;
  }
}

.solutions .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solutions__video {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.solutions__video video {
  width: 100%;
}

.solutions__text {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 40em) {
  .solutions__text {
    text-align: left;
  }
}

@media (min-width: 64em) {
  .solutions__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 40px;
  }
}

.solutions__text h2 {
  margin-top: 0;
  width: 350px;
}

.solutions__ctn {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .solutions__ctn {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.solutions__ctn a {
  color: #F2937D;
  font-size: 0,875rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solutions__ctn a img {
  width: 0,875rem;
  height: 0,875rem;
  background: #E6EDF6;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

.solutions__cta {
  background: #017369;
  margin-right: 30px;
}

.team {
  margin-top: 60px;
}

@media (min-width: 64em) {
  .team {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.team h2 {
  text-align: center;
}

.team h2::after {
  left: calc(50% - 20px);
}

.team h2::before {
  left: calc(50% - 20px);
}

.team__parag {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 64em) {
  .team__parag {
    width: 570px;
  }
}

.team__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 40em) {
  .team__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .team__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.team__item {
  height: 425px;
  overflow: hidden;
}

@media (min-width: 40em) {
  .team__item {
    height: 420px;
  }
}

@media (min-width: 64em) {
  .team__item {
    height: 370px;
  }
}

.team__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.team__text {
  position: relative;
  background-color: #F8F9FD;
  bottom: 40px;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.team__text h4 {
  margin: 0;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.team__text p {
  margin: 0;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.team__text .social {
  text-align: center;
  margin-top: 10px;
}

.team__text .social a {
  font-size: 20px;
  margin: 20px 10px;
  text-decoration: none;
}

.team__text .social a i {
  background-color: #FFFFFF;
  color: #F2937D;
  margin: auto;
  padding-top: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.team__text .social a:hover i {
  background-color: #F2937D;
  color: #FFFFFF;
  margin: auto;
}

.team__item:hover .team__text {
  bottom: 100px;
  background-color: #034AA6;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.team__item:hover .team__text h4 {
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}

.team__item:hover .team__text p {
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}

.team__item:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team__ctn {
  text-align: center;
}

.team__cta {
  background-color: #017369;
}

.freequote {
  margin-top: 60px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(61, 155, 124, 0.4))), url(/images/freequotesection.png);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(61, 155, 124, 0.4)), url(/images/freequotesection.png);
  background-size: cover;
  background-position: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media (min-width: 64em) {
  .freequote {
    margin-top: 120px;
    padding: 120px 140px;
  }
}

.freequote__flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 64em) {
  .freequote__flex {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.freequote__text {
  text-align: left;
}

.freequote__text h2 {
  color: #FFFFFF;
  margin-top: 0;
}

.freequote__text h2::after {
  background-color: #FFFFFF;
}

.freequote__text h4 {
  color: #FFFFFF;
  margin-top: 50px;
}

.freequote__text p {
  color: #FFFFFF;
  font-size: 14px;
}

.freequote__text i {
  color: #FFFFFF;
  margin-right: 10px;
}

.freequote__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.freequote__ctn button {
  padding: 1rem;
}

.freequote__ctn a {
  color: #F2937D;
  font-size: 0,875rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.freequote__ctn a img {
  width: 0,875rem;
  height: 0,875rem;
  background: #E6EDF6;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

.freequote__cta {
  background: #017369;
}

.freequote__check {
  margin-top: 50px;
}

.freequote__check p {
  margin: 0 0 10px 0;
}

.freequote__form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  padding: 20px 40px;
}

.freequote__form textarea {
  position: relative;
  width: 100%;
  height: 80px;
  outline: none;
  font-size: 1rem;
  color: #0D0D0D;
  padding: 15px 15px;
  background-color: #F8F9FD;
  border: 1px solid #EFEFEF;
  resize: none;
  margin-bottom: 20px;
}

.freequote__form button {
  width: 100%;
}

.freequote__colum {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.freequote__inputbox {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-bottom: 20px;
}

.freequote__inputbox input {
  position: relative;
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 12px;
  color: #0D0D0D;
  padding: 0 15px;
  background-color: #F8F9FD;
  border: 1px solid #EFEFEF;
}

@media (min-width: 40em) {
  .freequote__inputbox input {
    font-size: 1rem;
  }
}

.freequote__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.freequote__options label {
  color: #0D0D0D;
  font-size: 10px;
  font-weight: 400;
}

@media (min-width: 40em) {
  .freequote__options label {
    font-size: 14px;
  }
}

.freequote__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.freequote__choice input {
  margin-right: 5px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(/images/bg-clients.png);
}

.clients .dragging {
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 64em) {
  .clients {
    padding: 140px 120px;
  }
}

.clients h2 {
  text-align: center;
  margin-top: 0;
}

.clients h2::after {
  left: calc(50% - 20px);
}

.clients h2::before {
  left: calc(50% - 20px);
}

.clients__parag {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 40em) {
  .clients__parag {
    width: 570px;
  }
}

.clients__flex {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100%);
  overflow: hidden;
}

@media (min-width: 40em) {
  .clients__flex {
    grid-auto-columns: calc((100% / 2));
  }
}

@media (min-width: 64em) {
  .clients__flex {
    grid-auto-columns: calc((100% / 3));
  }
}

.clients__profile {
  position: relative;
  background-color: #FFFFFF;
  width: 380px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 50px;
  padding: 45px 40px 20px;
}

@media (min-width: 40em) {
  .clients__profile {
    width: 337px;
  }
}

@media (min-width: 64em) {
  .clients__profile {
    width: 380px;
  }
}

.clients__profile img {
  margin: 0;
  position: absolute;
  top: -76px;
  left: 116px;
}

.clients__profile h4 {
  margin: 0;
}

.clients__profile p {
  margin-top: 4px;
}

.clients__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__point span {
  width: 10px;
  height: 10px;
  background-color: #909C9D;
  border-radius: 50%;
  margin: 5px;
}

.blog {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 64em) {
  .blog {
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

.blog h2 {
  text-align: center;
  margin-top: 0;
}

.blog h2::after {
  left: calc(50% - 20px);
}

.blog h2::before {
  left: calc(50% - 20px);
}

.blog__grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100%);
  gap: 20px;
  overflow: hidden;
}

@media (min-width: 40em) {
  .blog__grid {
    grid-auto-columns: calc((100% / 2));
  }
}

@media (min-width: 64em) {
  .blog__grid {
    grid-auto-columns: calc((100% / 3));
  }
}

.blog__article {
  margin-top: 20px;
}

.blog__article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__article h4 {
  margin-bottom: 0;
}

.blog__article a {
  color: #034AA6;
  font-size: 14px;
  font-weight: 600;
}

.blog__text {
  padding-right: 40px;
}

.footer {
  background-color: #2D3E40;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  text-align: center;
}

@media (min-width: 64em) {
  .footer {
    padding: 140px 140px;
  }
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  text-decoration: none;
}

@media (min-width: 64em) {
  .footer__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr (1fr)[2] 3fr;
        grid-template-columns: 2fr 2fr repeat(2, 1fr) 3fr;
    gap: 20px;
  }
}

@media (max-width: 63.9375em) {
  .footer__row {
    height: 100%;
  }
}

.footer__col {
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 64em) {
  .footer__col {
    text-align: left;
  }
}

.footer__col ul {
  padding: 0;
  list-style: none;
}

.footer__col ul li {
  padding: 2px 0;
}

.footer__col a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.7;
}

.footer__col a:hover {
  opacity: 1;
}

.footer__col h3 {
  margin-top: 0;
  position: relative;
}

.footer__col h5 {
  margin-top: 0;
  position: relative;
}

.footer__col p {
  color: #FFFFFF;
  font-size: 14px;
}

.footer__social {
  margin-top: 30px;
}

.footer__social a {
  font-size: 15px;
  margin-right: 10px;
  text-decoration: none;
}

.footer__social a i {
  background-color: #FFFFFF;
  color: #F2937D;
  margin: auto;
  padding: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.footer__social a:hover i {
  background-color: #F2937D;
  color: #FFFFFF;
  margin: auto;
}

.footer__input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input input {
  width: 60%;
  height: 40px;
  outline: none;
  font-size: 14px;
  color: #0D0D0D;
  padding: 0 15px;
  background-color: #F8F9FD;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
}

.footer__input a {
  font-size: 15px;
  margin-right: 10px;
  text-decoration: none;
  margin: 0;
}

.footer__input a i {
  background-color: #017369;
  margin: auto;
  padding: 8px;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

@media (min-width: 64em) {
  .footer .links2 {
    padding-top: 30px;
  }
}

.heroab {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(61, 155, 124, 0.1))), url(/images/aboutbg.png);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(61, 155, 124, 0.1)), url(/images/aboutbg.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .heroab {
    margin-bottom: 120px;
  }
}

.heroab__text {
  text-align: center;
}

@media (min-width: 64em) {
  .heroab__text {
    max-width: 932px;
    text-align: left;
    padding-left: 140px;
  }
}

.heroab h1 {
  color: #E6F1F0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.4rem;
}

.solutionsab {
  margin-bottom: 60px;
}

@media (min-width: 64em) {
  .solutionsab {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.solutionsab__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 64em) {
  .solutionsab__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
}

.solutionsab__image {
  text-align: center;
}

.solutionsab__image img {
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 64em) {
  .solutionsab__image img {
    height: 70%;
  }
}

.solutionsab__text {
  text-align: center;
}

@media (min-width: 64em) {
  .solutionsab__text {
    text-align: left;
    margin-left: 40px;
  }
}

.solutionsab__text h2::after {
  left: calc(50% - 20px);
}

@media (min-width: 64em) {
  .solutionsab__text h2::after {
    left: 0;
  }
}

.solutionsab__text h2::before {
  left: calc(50% - 20px);
}

@media (min-width: 64em) {
  .solutionsab__text h2::before {
    left: 0;
  }
}

.solutionsab__ctn {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .solutionsab__ctn {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.solutionsab__ctn button {
  padding: 1rem;
}

@media (min-width: 40em) {
  .solutionsab__ctn button {
    padding: 1rem 1.875rem;
  }
}

.solutionsab__ctn a {
  color: #F2937D;
  font-size: 0,875rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solutionsab__ctn a img {
  width: 0,875rem;
  height: 0,875rem;
  background: #E6EDF6;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

.solutionsab__cta {
  background: #017369;
}

@media (min-width: 40em) {
  .solutionsab__cta {
    margin-right: 30px;
  }
}

.solutionsab__boxes {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.solutionsab__boxes h3 {
  margin-bottom: 0;
}

.solutionsab__boxes p {
  color: #FFFFFF;
  margin: 0;
  font-size: 14px;
}

.solutionsab__boxes .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #034AA6;
  color: #FFFFFF;
  height: 80px;
}

.solutionsab__boxes .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  background-color: #F2937D;
  color: #FFFFFF;
}

.videobg video {
  height: 50%;
  width: 100%;
}

@media (min-width: 64em) {
  .offersab {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 0;
    background-color: #F8F9FD;
    margin-top: 80px;
  }
}

.offersab .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offersab__video {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.offersab__video video {
  width: 100%;
}

.offersab__text {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 40em) {
  .offersab__text {
    text-align: left;
  }
}

@media (min-width: 64em) {
  .offersab__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 40px;
  }
}

.offersab__text h2 {
  margin-top: 0;
  width: 350px;
}

.offersab__ctn {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .offersab__ctn {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.offersab__ctn a {
  color: #F2937D;
  font-size: 0,875rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offersab__ctn a img {
  width: 0,875rem;
  height: 0,875rem;
  background: #E6EDF6;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

.offersab__cta {
  background: #017369;
  margin-right: 30px;
}

.offersab__check {
  margin-top: 50px;
}

.offersab__check p {
  margin: 0 0 10px 0;
}

.offersab i {
  color: #017369;
  margin-right: 10px;
}

.heroteam {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(61, 155, 124, 0.1))), url(/images/aboutbg.png);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(61, 155, 124, 0.1)), url(/images/aboutbg.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .heroteam {
    margin-bottom: 120px;
  }
}

.heroteam__text {
  text-align: center;
}

@media (min-width: 64em) {
  .heroteam__text {
    max-width: 932px;
    text-align: left;
    padding-left: 140px;
  }
}

.heroteam h1 {
  color: #E6F1F0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.4rem;
}

.executives {
  margin-top: 60px;
}

@media (min-width: 64em) {
  .executives {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.executives h2 {
  text-align: center;
}

.executives h2::after {
  left: calc(50% - 20px);
}

.executives h2::before {
  left: calc(50% - 20px);
}

.executives__parag {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 64em) {
  .executives__parag {
    width: 570px;
  }
}

.executives__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 40em) {
  .executives__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.executives__item {
  height: 425px;
  overflow: hidden;
}

@media (min-width: 40em) {
  .executives__item {
    height: 280px;
  }
}

@media (min-width: 64em) {
  .executives__item {
    height: 480px;
  }
}

.executives__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.executives__text {
  position: relative;
  background-color: #F8F9FD;
  bottom: 40px;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.executives__text h4 {
  margin: 0;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.executives__text p {
  margin: 0;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.executives__text .social {
  text-align: center;
  margin-top: 10px;
}

.executives__text .social a {
  font-size: 20px;
  margin: 20px 10px;
  text-decoration: none;
}

.executives__text .social a i {
  background-color: #FFFFFF;
  color: #F2937D;
  margin: auto;
  padding-top: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.executives__text .social a:hover i {
  background-color: #F2937D;
  color: #FFFFFF;
  margin: auto;
}

.executives__item:hover .executives__text {
  bottom: 100px;
  background-color: #034AA6;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.executives__item:hover .executives__text h4 {
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}

.executives__item:hover .executives__text p {
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}

.executives__item:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.executives__ctn {
  text-align: center;
}

.executives__cta {
  background-color: #017369;
}

.heroteam {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(61, 155, 124, 0.1))), url(/images/locationsbg.png);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(61, 155, 124, 0.1)), url(/images/locationsbg.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .heroteam {
    margin-bottom: 120px;
  }
}

.heroteam__text {
  text-align: center;
}

@media (min-width: 64em) {
  .heroteam__text {
    max-width: 932px;
    text-align: left;
    padding-left: 140px;
  }
}

.heroteam h1 {
  color: #E6F1F0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.4rem;
}

@media (min-width: 64em) {
  .location {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 0;
    background-color: #F8F9FD;
    margin-top: 60px;
  }
}

.location .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__video {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.location__video img {
  width: 100%;
}

.location__text {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 40em) {
  .location__text {
    text-align: left;
  }
}

@media (min-width: 64em) {
  .location__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 40px;
  }
}

.location__text h2 {
  margin-top: 0;
  width: 350px;
}

.location__check {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.location__check p {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.location i {
  color: #017369;
  margin-right: 10px;
}

.herotruck {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(61, 155, 124, 0.1))), url(/images/truckhero.png);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(61, 155, 124, 0.1)), url(/images/truckhero.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .herotruck {
    margin-bottom: 120px;
  }
}

.herotruck__text {
  text-align: center;
}

@media (min-width: 64em) {
  .herotruck__text {
    max-width: 932px;
    text-align: left;
    padding-left: 140px;
  }
}

.herotruck h1 {
  color: #E6F1F0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.4rem;
}

@media (min-width: 64em) {
  .truck {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 0;
    background-color: #F8F9FD;
    margin-top: 60px;
  }
}

.truck .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .truck .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

.truck__video {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
}

.truck__video img {
  width: 100%;
}

@media (min-width: 64em) {
  .truck__video img {
    width: 80%;
  }
}

.truck__text {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 40em) {
  .truck__text {
    text-align: left;
  }
}

@media (min-width: 64em) {
  .truck__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.truck__text h2 {
  margin-top: 0;
  width: 350px;
}

.truck__check {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.truck__check p {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.truck i {
  color: #017369;
  margin-right: 10px;
}

@media (min-width: 64em) {
  .truck2 {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 0;
    background-color: #E6F1F0;
    margin-top: 60px;
  }
}

.truck2 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .truck2 .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

.truck2__video {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

.truck2__video img {
  width: 100%;
}

@media (min-width: 64em) {
  .truck2__video img {
    width: 80%;
  }
}

.truck2__text {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 40em) {
  .truck2__text {
    text-align: left;
  }
}

@media (min-width: 64em) {
  .truck2__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.truck2__text h2 {
  margin-top: 0;
  width: 350px;
}

.truck2__check {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.truck2__check p {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.truck2 i {
  color: #017369;
  margin-right: 10px;
}

.offerservices {
  background: #E6F1F0;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 64em) {
  .offerservices {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.offerservices__grid {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .offerservices__grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.offerservices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 120px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

.offerservices__item img {
  width: 120px;
}

.offerservices p {
  max-width: 640px;
}

.offerservices__grid2 {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 40em) {
  .offerservices__grid2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 64em) {
  .offerservices__grid2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.offerservices__grid2 h4 {
  margin: 0;
  color: #034AA6;
}

.offerservices__grid2 .number {
  font-size: 25px;
  color: #034AA6;
  font-weight: 600;
  margin: 0;
}

.offerservices__grid2 .para {
  font-size: 14px;
}

.gallery {
  margin-top: 60px;
}

@media (min-width: 64em) {
  .gallery {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.gallery h2 {
  text-align: center;
}

.gallery h2::after {
  left: calc(50% - 20px);
}

.gallery h2::before {
  left: calc(50% - 20px);
}

.gallery__parag {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 64em) {
  .gallery__parag {
    width: 570px;
  }
}

.gallery__grid {
  -webkit-column-count: 1;
          column-count: 1;
  --webkit-column-count: 1;
  --moz-column-count: 1;
  padding: 4rem;
}

@media (min-width: 40em) {
  .gallery__grid {
    -webkit-column-count: 2;
            column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}

@media (min-width: 64em) {
  .gallery__grid {
    -webkit-column-count: 3;
            column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
}

.gallery .image img {
  height: auto;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */